# Created by https://www.gitignore.io/api/c++,windows

### Directory ###
SigServer/bin
SigServer/libsrc
SigServer/src/__history
SigServer/src/__recovery
SigServer/src/Common/bak
SigServer/src/Common/__history
SigServer/src/sgPacket/__history
SigServer/src/sgPacket/__recovery
SigServer/src/Win32
kAPU/bin
kAPU/KOAStudioSA
kAPU/src/Win32
kAPU/src/__history
kAPU/src/__recovery
kAPU/src/Win32
StockTradeCL/src/__history
StockTradeCL/src/__recovery
StockTradeCL/src/CPstock/__history
StockTradeCL/src/GenLib/__history
StockTradeCL/src/Win32/Debug
StockTradeCL/src/inc/__history
StockTradeCL/bin

### Histor ###
#*.~*~


### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bak

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
GGBms.h
wzCoordCvt.h
wzRWLock.h
MtPacket*.*


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# End of https://www.gitignore.io/api/c++,windows